<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Surfside Media</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/main.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    ::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body>
  <main class="main">
    <nav class="navbar fixed-top bg-primary">
      <div class="container">
        <% if (user) { %>
        <a class="btn text-light link-dark" href="/">Home</a>
        <% if (path != '/shop') { %>
        <a class="btn text-light link-dark" href="/shop">Shop</a>
        <% } else  { %>
        <div class="mobile-search search-style-3 mt-0 mobile-header-border p-0">
          <form action="#">
            <input type="text" id="searchInput" placeholder="Search for items…">
            <button id="searchButton"><i class="fi-rs-search link-dark"></i></button>
          </form>
        </div>
        <% } %>
        <ul class="d-flex">
          <li class="position-relative" id="cart"><a href="/cart" class="btn mt-3 me-2 text-light link-dark">cart</a>
            <% if (cartProductsCount) { %><span id="cartProductsCount"
              class="position-absolute bg-danger text-light rounded-circle px-1"
              style="left: 40px; top: 17px; font-size: 15px;"><%= cartProductsCount %></span></li>
          <% } %>
          <li class="position-relative" id="wishlist">
            <a href="/wishlist" class="btn mt-3 text-light link-dark">wishlist
              <% if (wishlistProductsCount) { %><span id="wishlistProductsCount"
                class="position-absolute bg-danger text-light rounded-circle px-1"
                style="right: 2px; top: 17px; font-size: 15px;"><%= wishlistProductsCount %></span></li>
          <% } %></a>
          </li>
        </ul>
        <% } %>
        <% if (!user) { %>
        <ul class="d-flex">
          <li><a href="/signup" class="btn mt-3 me-2 text-light link-dark">Sign Up</a></li>
          <li><a class="btn mt-3 text-light link-dark" href="/login">Log In</a></li>
        </ul>
        <% } else { %>
        <ul class="d-flex">
          <% if (user.admin) { %> <li><a class="btn mt-3 text-light link-dark" href="/admin/products">Dashboard</a></li>
          <% } %>
          <li><a href="/me" class="btn mt-3 me-2 text-light link-dark">account</a></li>
          <li><a class="btn mt-3 text-light link-dark" href="/logout">Log out</a></li>
        </ul>
        <% } %>
      </div>
    </nav>
    <%- body %>
  </main>
</body>
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/plugins/slick.js"></script>
<script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/assets/js/plugins/wow.js"></script>
<script src="/assets/js/plugins/jquery-ui.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/assets/js/plugins/magnific-popup.js"></script>
<script src="/assets/js/plugins/select2.min.js"></script>
<script src="/assets/js/plugins/waypoints.js"></script>
<script src="/assets/js/plugins/counterup.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/images-loaded.js"></script>
<script src="/assets/js/plugins/isotope.js"></script>
<script src="/assets/js/plugins/scrollup.js"></script>
<script src="/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/assets/js/plugins/jquery.elevatezoom.js"></script>

<!-- Vendor JS-->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/plugins/slick.js"></script>
<script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/assets/js/plugins/wow.js"></script>
<script src="/assets/js/plugins/jquery-ui.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/assets/js/plugins/magnific-popup.js"></script>
<script src="/assets/js/plugins/select2.min.js"></script>
<script src="/assets/js/plugins/waypoints.js"></script>
<script src="/assets/js/plugins/counterup.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/images-loaded.js"></script>
<script src="/assets/js/plugins/isotope.js"></script>
<script src="/assets/js/plugins/scrollup.js"></script>
<script src="/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="/assets/js/main.js?v=3.3"></script>
<script src="/assets/js/shop.js?v=3.3"></script>

<!-- Template  JS -->
<script src="/assets/js/shop.js?v=3.3"></script>
<script src="/assets/js/common.js"></script>
<!-- <script src="/assets/js/main.js?v=3.3"></script> -->

</html>